[submodule "cliente-gateway"]
	path = cliente-gateway
	url = https://github.com/nest-microservicios-practica/cliente-gateway.git
[submodule "productos-microservice"]
	path = productos-microservice
	url = https://github.com/nest-microservicios-practica/productos-microservicio.git
[submodule "pedidos-microservice"]
	path = pedidos-microservice
	url = https://github.com/nest-microservicios-practica/pedidos-microservice.git
[submodule "pagos-microservice"]
	path = pagos-microservice
	url = https://github.com/nest-microservicios-practica/pagos-microservice.git
